
*{
    font-family: 'Museo Sans Cyrl', sans-serif;  

}
@import 'variables';

.conteiner {
    position: relative;
    width: 950px;
    margin: 0 auto;
}
@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'titles';
@import 'consultation';
@import 'forms';
@import 'carousel';
